@model List<QuizWebpage2._0.Models.Quiz>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the identify quiz</h1>
    <p></p>
    @foreach(var q in Model)
    {
        <p>@Html.ActionLink(q.Topic, "Index", "Quiz", new {id = q.IdQuiz})</p>
    }
</div>
