@model QuizWebpage2._0.Models.UserResults

<p>Thank you for taking the identify quiz, here is your results:</p>
<p>Correct Responses: @Model.NumRight</p>
<p>Incorrect Resposes: @Model.NumWrong</p>
<p>Hit the HOME button to take another quiz</p>
